/* Start: Colors */
:root {
	--themer-llama-color: #fafafb;
	--themer-zebra-color: #ff0;
	--themer-icon-stroke: blue;
	--themer-giraffe-color: currentColor;
	--themer-snake-color: purple;
	--themer-icon-fill: red;
}
/* End: Colors */

/* Start: Border */
:root {
	--themer-dog-border-color: rgba(0, 0, 0, 0.5);
	--themer-icon-border-color: #f0f #d2d7df transparent;
}
/* End: Border */

/* Start: Background */
:root {
	--themer-dog-background: #f0f;
	--themer-llama-background: purple;
	--themer-dog-dog-large-background: purple;
}

@media (min-width: 980px) {
    :root {
	--themer-dog-background: green;
    }
}

/* End: Background */

/* Start: Box-shadow */
:root {
	--themer-complex-shadow-box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
/* End: Box-shadow */

/* Start: Border-radius */
:root {
	--themer-cat-border-radius: 6px;
}
/* End: Border-radius */

/* Start: Typography */
:root {
	--themer-cat-font-size: 12px;
	--themer-dog-font-size: 16px;
}

@media (min-width: 600px) {
    :root {
	--themer-dog-font-size: 17px;
    }
}
@media (min-width: 980px) {
    :root {
	--themer-dog-font-size: 18px;
    }
}

/* End: Typography */

/* Start: Spacing */
:root {
	--themer-dog-dog-large-margin-left: 16px;
	--themer-giraffe-padding: 16px;
	--themer-cat-padding: 4px;
	--themer-dog-dog-large-margin: 8px;
}
/* End: Spacing */


.dog {
    background: var(--themer-dog-background);
    border: 1px solid var(--themer-dog-border-color);
    font-size: var(--themer-dog-font-size);
}

@media (min-width: 600px){
    .dog {
        font-size: var(--themer-dog-font-size);
    }
}

@media (min-width: 980px) {
    .dog {
        background: var(--themer-dog-background);
        font-size: var(--themer-dog-font-size);
    }
}

.cat {
    border: 1px solid;
    border-radius: var(--themer-cat-border-radius);
    padding: var(--themer-cat-padding);
    font-size: var(--themer-cat-font-size);
    background: none;
}

.llama {
    background: var(--themer-llama-background);
    color: var(--themer-llama-color);
}

.dog.dog--large {
    background: var(--themer-dog-dog-large-background) !important;
    width: 300px;
    margin: var(--themer-dog-dog-large-margin);
    margin-left: var(--themer-dog-dog-large-margin-left);
}

.snake {
    box-shadow: none;
    color: var(--themer-snake-color);
}

.giraffe {
    color: var(--themer-giraffe-color);
    background: transparent;
    background-position-y: 0;
    padding: var(--themer-giraffe-padding);
}

.zebra {
    color: var(--themer-zebra-color);
}

.icon {
    fill: var(--themer-icon-fill);
    stroke: var(--themer-icon-stroke);
    border-color: var(--themer-icon-border-color);
}

.complex-shadow {
    box-shadow: var(--themer-complex-shadow-box-shadow);
}
