/* Start: Colors */
:root {
	--themer-llama-color: #fafafb;
	--themer-zebra-color: #ff0;
	--themer-icon-stroke: blue;
	--themer-snake-color: purple;
	--themer-icon-fill: red;
}
/* End: Colors */

/* Start: Border */
:root {
	--themer-dog-border-color: rgba(0, 0, 0, 0.5);
	--themer-icon-border-color: #f0f #d2d7df transparent;
}
/* End: Border */

/* Start: Background */
:root {
	--themer-dog-background: #f0f;
	--themer-llama-background: purple;
	--themer-dog-dog-large-background: purple;
}

@media (min-width: 980px) {
    :root {
	--themer-dog-background: green;
    }
}

/* End: Background */

/* Start: Box-shadow */
:root {
	--themer-complex-shadow-box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
/* End: Box-shadow */

/* Start: Border-radius */
:root {
	--themer-snake-border-radius: 0px 0px 4px;
	--themer-border-radius-100px-10px: 100px/10px;
	--themer-border-radius-50-percent: 50%;
	--themer-border-radius-6px: 6px;
}
/* End: Border-radius */

/* Start: Typography */
:root {
	--themer-font-size-12px: 12px;
	--themer-font-size-16px: 16px;
	--themer-font-stack-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--themer-snake-line-height: 1.2;
	--themer-font-weight-400: 400;
	--themer-font-weight-500: 500;
	--themer-font-stack-arial: Arial, Helvetica, sans-serif;
	--themer-font-stack-georgia: Georgia, 'Times New Roman', Times, serif;
	--themer-font-style-italic: italic;
}

@media (min-width: 600px) {
    :root {
	--themer-font-size-17px: 17px;
    }
}
@media (min-width: 980px) {
    :root {
	--themer-font-size-18px: 18px;
    }
}

/* End: Typography */

/* Start: Spacing */
:root {
	--themer-icon-margin: -10px 0 21px;
	--themer-spacing-negative-16px: -16px;
	--themer-spacing-1pt3em: 1.3em;
	--themer-spacing-16px: 16px;
	--themer-spacing-2px: 2px;
	--themer-spacing-4px: 4px;
	--themer-spacing-8px: 8px;
}

@media (min-width: 600px) {
    :root {

    }
}

/* End: Spacing */


.dog {
    background: var(--themer-dog-background);
    border: 1px solid var(--themer-dog-border-color);
    font-size: var(--themer-font-size-16px);
    margin: var(--themer-spacing-2px);
}

@media (min-width: 600px){
    .dog {
        font-size: var(--themer-font-size-17px);
        margin: var(--themer-spacing-4px);
    }
}

@media (min-width: 980px) {
    .dog {
        background: var(--themer-dog-background);
        font-size: var(--themer-font-size-18px);
    }
}

.cat {
    border: 1px solid;
    border-radius: var(--themer-border-radius-6px);
    padding: var(--themer-spacing-4px);
    font-size: var(--themer-font-size-12px);
    background: none;
}

.llama {
    background: var(--themer-llama-background);
    color: var(--themer-llama-color);
    font-family:var(--themer-font-stack-lucida);
}

.dog.dog--large {
    background: var(--themer-dog-dog-large-background) !important;
    width: 300px;
    line-height: 1;
    margin: var(--themer-spacing-8px);
    font-weight: var(--themer-font-weight-400);
    margin-left: var(--themer-spacing-16px);
    font-family: var(--themer-font-stack-georgia);
}

.snake {
    margin: 0;
    font-style: var(--themer-font-style-italic);
    font-family: var(--themer-font-stack-arial);
    padding: 0px;
    font-weight: var(--themer-font-weight-500);
    line-height: var(--themer-snake-line-height);
    box-shadow: none;
    color: var(--themer-snake-color);
    border-radius: var(--themer-snake-border-radius);
}

.giraffe {
    font-weight: var(--themer-font-weight-400);
    color: currentColor;
    background: transparent;
    background-position-y: 0;
    padding: var(--themer-spacing-negative-16px);
    font-family: var(--themer-font-stack-arial);
}

.zebra {
    color: var(--themer-zebra-color);
    padding: var(--themer-spacing-1pt3em);
}

.icon {
    fill: var(--themer-icon-fill);
    stroke: var(--themer-icon-stroke);
    border-color: var(--themer-icon-border-color);
    border-radius: var(--themer-border-radius-50-percent);
    margin: var(--themer-icon-margin);
}

.complex-shadow {
    border-radius: var(--themer-border-radius-100px-10px);
    box-shadow: var(--themer-complex-shadow-box-shadow);
}
