
:root {
	--themer-dog-background: #f0f;
	--themer-dog-border-color: rgba(0, 0, 0, 0.5);
	--themer-llama-background: purple;
	--themer-dog-dog-large-background: purple;
	--themer-snake-color: purple;
	--themer-giraffe-color: currentColor;
	--themer-icon-fill: red;
	--themer-icon-stroke: blue;
	--themer-icon-border-color: #f0f #d2d7df;
	--themer-complex-shadow-box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
	--themer-cat-padding: 4px;
	--themer-dog-dog-large-margin: 8px;
	--themer-dog-dog-large-margin-left: 16px;
	--themer-giraffe-padding: 16px;
	--themer-dog-font-size: 16px;
	--themer-cat-font-size: 12px;
	--themer-cat-border-radius: 6px;
}

@media (min-width: 980px) {
    :root {
	--themer-dog-background: green;
	--themer-dog-font-size: 18px;
    }
}


.dog {
    background: var(--themer-dog-background);
    border: 1px solid var(--themer-dog-border-color);
    font-size: var(--themer-dog-font-size);
}


@media (min-width: 980px) {
    .dog {
        background: var(--themer-dog-background);
        font-size: var(--themer-dog-font-size);
    }
}

.cat {
    border: 1px solid;
    border-radius: var(--themer-cat-border-radius);
    padding: var(--themer-cat-padding);
    font-size: var(--themer-cat-font-size);
}

.llama {
    background: var(--themer-llama-background);
}

.dog.dog--large {
    background: var(--themer-dog-dog-large-background) !important;
    width: 300px;
    margin: var(--themer-dog-dog-large-margin);
    margin-left: var(--themer-dog-dog-large-margin-left);
}

.snake {
    color: var(--themer-snake-color);
}

.giraffe {
    color: var(--themer-giraffe-color);
    background-position-y: 0;
    padding: var(--themer-giraffe-padding);
}

.icon {
    fill: var(--themer-icon-fill);
    stroke: var(--themer-icon-stroke);
    border-color: var(--themer-icon-border-color);
}

.complex-shadow {
    box-shadow:
    var(--themer-complex-shadow-box-shadow);
}
