
.dog {
    background: #f0f;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
}


@media (min-width: 980px) {
    .dog {
        background: green;
        font-size: 18px;
    }
}

.cat {
    border: 1px solid;
    border-radius: 6px;
    padding: 4px;
    font-size: 12px;
}

.llama {
    background: purple;
}

.dog.dog--large {
    background: purple !important;
    width: 300px;
    margin: 8px;
    margin-left: 16px;
}

.giraffe {
    color: currentColor;
    background-position-y: 0;
    padding: 16px;
}

.icon {
    fill: red;
    stroke: blue;
    border-color: #f0f #d2d7df;
}

.complex-shadow {
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
}
